:root {
  --font-family: "Staatliches", sans-serif;
  --second-family: "Francois One", sans-serif;
  --third-family: "PT Sans", sans-serif;
  --font3: "Farro", sans-serif;
  --font4: "Tourney", sans-serif;
  --font5: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: var(--third-family);
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 130px 0 130px;
}

header {
  padding-block: 13px;
  display: grid;
  grid-template-columns: auto 1fr 50%;
  align-items: center;
  height: 80px;
  width: 1200px;
  top: 0;
  position: fixed;
  z-index: 1;
  background-color: white;
  gap: 50px;

  b {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0.03em;
    color: #000;

  }

  a {
    font-family: var(--font4);
    font-weight: 600;
    font-size: 22px;
    line-height: 82%;
    letter-spacing: 0.04em;
    text-align: center;
    text-decoration: none;
  }

  img {
    margin-left: auto;
  }
}

.sup {
  display: flex;
  align-items: flex-start;
  gap: 10px;

  h2 {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 36px;
    line-height: 133%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000;
  }
}

.sup h2 {
  margin: 0;
}

.sup sup {
  font-size: 14px;
  line-height: 1;
  color: gray;
  position: relative;
  top: 0.3em;
}

.main-content {
  display: flex;
  justify-content: flex-start;
  margin-top: 100px;
  background-image: url(images/background.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;

  .underline {
    text-decoration: underline;
  }

  .color {
    background-color: #C9C9C9;
  }

  .cursive {
    font-style: italic;
  }

  p {
    width: 920px;
  }
}

nav {
  padding: 0px;
  width: 385px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 133%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #000;
  position: sticky;
  top: 100px;
  margin-left: 0px;

  ul {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #BDBDBD;
  }

  a {
    text-decoration: none;
    color: black;
  }
}


.content {
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 70px;
  padding: 0px 0px 90px 0px;
  width: 785px;
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 28px;
  line-height: 171%;
  color: #000;

  .title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
  }

  hr {
    width: 100px;
    height: 8px;
    background: #000;
    margin-left: 0;
  }
}